<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- service -->
	<!--  公众号管理 服务接口实现 begin-->
	<!-- 注册用户服务 -->
	<bean id="registerService" class="com.examw.wechat.service.mgr.impl.RegisterServiceImpl">
		<!-- 注册用户数据访问 -->
		<property name="registerDao"  ref="registerDao" />
		<!-- 省份数据访问 -->
		<property name="provinceDao" ref="provinceDao" />
		<!-- 考试数据接口 -->
		<property name="examDao" ref="examDao" />
	</bean>
	<!-- 微信关注用户服务 -->
	<bean id="accountUserService" class="com.examw.wechat.service.mgr.impl.AccountUserServiceImpl">
		<!-- 微信关注用户数据访问 -->
		<property name="accountUserDao" ref="accountUserDao"/>
		<!-- 微信公众号数据访问 -->
		<property name="accountDao" ref="accountDao"/>
		<!-- 注册用户数据访问 -->
		<property name="registerDao" ref="registerDao" />
		<!-- 公众号用户状态 -->
		<property name="statusMap">
			<map>
				<!-- 关注 -->
				<entry key="1" value="已关注" />
				<!-- 取消关注 -->
				<entry key="-1" value="取消关注" />
			</map>
		</property>
	</bean>
	<!-- 资讯文档服务 -->
	<bean id="articleService" class="com.examw.wechat.service.mgr.impl.ArticleServiceImpl">
		<!-- 资讯文档数据接口 -->
		<property name="articleDao" ref="articleDao" />
		<!-- 考试数据接口 -->
		<property name="examDao" ref="examDao" />
		<!-- 所属省份接口 -->
		<property name="provinceDao" ref="provinceDao" />
		<!-- 资讯文档类型集合 -->
		<property name="types">
			<map>
				<!-- 单图文消息 -->
				<entry key="1" value="${ARTICLE_TYPE_TEXT}" />
				<!-- 多图文消息 -->
				<entry key="2" value="${ARTICLE_TYPE_NEWS}" />
				<!-- 文章 -->
				<entry key="3" value="${ARTICLE_TYPE_ARTICLE}" />
			</map>
		</property>
	</bean>
	<!--  公众号管理 服务接口实现 end-->
</beans>