<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- service -->
	<!--  公众号服务 服务接口实现 begin-->
	<!-- 微信上下文服务 -->
	<bean id="contextService" class="com.examw.wechat.service.server.impl.ContextServiceImpl">
		<!-- 微信用户数据接口 -->
		<property name="accountUserDao"  ref="accountUserDao" />
		<!-- 上下文缓存 -->
		<property name="cache"> 
			<bean class="org.springframework.cache.ehcache.EhCacheFactoryBean">
				<!-- 缓存管理器 -->
				<property name="cacheManager"  ref="globalCacheManager" />
				<!-- 缓存名称 -->
				<property name="cacheName" value="wechatContextCache" />
			</bean>
		</property>
	</bean>
	<!-- 微信核心服务 -->
	<bean id="coreService" class="com.examw.wechat.service.server.impl.DefaultCoreServiceImpl">
		<!-- 公众号服务接口 -->
		<property name="accountDao" ref="accountDao" />
		<!-- 上下文服务接口 -->
		<property name="contextService"  ref="contextService" />
		<!--  消息记录服务接口 -->
		<property name="recordService" ref="recordService" />
		<!-- 消息中心接口 -->
		<property name="messageParse" ref="messageParse" />
	</bean>
	<!-- 消息解析服务 -->
	<bean id="messageParse" class="com.examw.wechat.service.server.impl.MessageParseImpl">
		<!-- 事件处理 -->
		<property name="handler" ref="messageHandlerFactory" />
	</bean>
	<!-- 消息处理 -->
	<bean id="messageHandlerFactory" class="com.examw.wechat.service.server.impl.MessageHandlerFactory">
		<!-- 处理器缓存 -->
		<property name="cache">
			<bean class="org.springframework.cache.ehcache.EhCacheFactoryBean">
				<!-- 缓存管理器 -->
				<property name="cacheManager"  ref="globalCacheManager" />
				<!-- 缓存名称 -->
				<property name="cacheName" value="msgHandlersCache" />
			</bean>
		</property>
		<!-- 消息处理器 -->
		<property name="handlers">
			<map>
				<!-- 默认处理器 -->
				<entry key="default">
					<bean class="com.examw.wechat.service.server.impl.DefaultMessageHandler" />
				</entry>
			</map>
		</property>
	</bean>
	<!--  公众号服务 服务接口实现 end-->
</beans>