<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- service -->
	<!--  公众账号管理 服务接口实现 begin-->
	<!-- 微信公众号管理服务 -->
	<bean id="accountService" class="com.examw.wechat.service.account.impl.AccountServiceImpl">
		<!--公众号管理 -->
		<property name="accountDao" ref="accountDao"/>
		<!-- 状态 -->
		<property name="statusMap">
			<map>
				<!-- 停用 -->
				<entry  key="0"  value="${STATUS_DISABLE}"/>
				<!-- 启用 -->
				<entry  key="1"  value="${STATUS_ENABLED}"/>
			</map>
		</property>
		<!-- 类型 -->
		<property name="typesMap">
			<map>
				<!-- 服务号 -->
				<entry  key="1"  value="${ACCOUNT_TYPE_SERVICE}"/>
				<!-- 订阅号 -->
				<entry  key="2"  value="${ACCOUNT_TYPE_SUBSCRIBE}"/>
			</map>
		</property>
	</bean>
	<!--微信公众号菜单服务 -->
	<bean id="accountMenuService" class="com.examw.wechat.service.account.impl.AccountMenuServiceImpl">
		<!--公众号数据 -->
		<property name="accountMenuDao" ref="accountMenuDao"/>
		<!-- 菜单数据 -->
		<property name="accountDao" ref="accountDao"/>
		<!-- 全局票据服务 -->
		<property name="accessTokenService" ref="accessTokenService"/>
		<!-- 菜单查询URL -->
		<property name="queryUrl" value="${WECHAT_MENU_QUERY_URL}"/>
		<!-- 菜单创建URL -->
		<property name="createUrl" value="${WECHAT_MENU_CREATE_URL}"/>
		<!-- 菜单删除URL -->
		<property name="deleteUrl" value="${WECHAT_MENU_DELETE_URL}"/>
	</bean>
	<!--  公众账号管理 服务接口实现 end-->
</beans>