<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- dao -->
	<!-- 考试设置 数据接口实现 begin-->
	<!-- 省份Dao -->
	<bean id="provinceDao" class="com.examw.wechat.dao.settings.impl.ProvinceDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 考试类别Dao -->
	<bean id="catalogDao" class="com.examw.wechat.dao.settings.impl.CatalogDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 考试设置Dao -->
	<bean id="examDao" class="com.examw.wechat.dao.settings.impl.ExamDaoImpl">
		<property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<!-- 考试设置 数据接口实现 end-->
</beans>