<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- service -->
	<!--  公众号服务 服务接口实现 begin-->
	<!-- 微信上下文服务 -->
	<bean id="contextService" class="com.examw.wechat.service.server.impl.ContextServiceImpl">
		<!-- 微信用户数据接口 -->
		<property name="accountUserDao"  ref="accountUserDao" />
		<!-- 上下文缓存 -->
		<property name="cache"> 
			<bean class="org.springframework.cache.ehcache.EhCacheFactoryBean">
				<!-- 缓存管理器 -->
				<property name="cacheManager"  ref="globalCacheManager" />
				<!-- 缓存名称 -->
				<property name="cacheName" value="wechatContextCache" />
			</bean>
		</property>
	</bean>
	<!-- 微信核心服务 -->
	<bean id="coreService" class="com.examw.wechat.service.server.impl.DefaultCoreServiceImpl">
		<!-- 公众号服务接口 -->
		<property name="accountDao" ref="accountDao" />
		<!-- 上下文服务接口 -->
		<property name="contextService"  ref="contextService" />
		<!--  消息记录服务接口 -->
		<property name="recordService" ref="recordService" />
		<!-- 消息中心接口 -->
		<property name="messageParse" ref="messageParse" />
	</bean>
	<!-- 消息解析服务 -->
	<bean id="messageParse" class="com.examw.wechat.service.server.impl.MessageParseImpl">
		<!-- 事件处理 -->
		<property name="handler" ref="messageHandlerFactory" />
	</bean>
	<!-- 默认消息处理 -->
	<bean id="defaultMsgHandler" class="com.examw.wechat.service.server.impl.DefaultMessageHandler">
		<!-- 是否用户认证 -->
		<property name="authen" value="${handler_IsAuthen}" />
		<!-- 用户认证菜单key -->
		<property name="authenMenuKey" value="${handler_AuthenMenuKey}" />
		<!-- 设置认证提示信息 -->
		<property name="authenMsg" value="${DefaultMsgHandler_AuthenMsg}" />
		<!-- 设置菜单点击提示信息 -->
		<property name="clickMsg" value="${DefaultMsgHandler_ClickMsg}" />
	</bean>
	<!-- 消息处理 -->
	<bean id="messageHandlerFactory" class="com.examw.wechat.service.server.impl.MessageHandlerFactory">
		<!-- 处理器缓存 -->
		<property name="cache">
			<!-- 缓存管理器 -->
			<property name="cacheManager"  ref="globalCacheManager" />
			<!-- 缓存名称 -->
			<property name="cacheName" value="msgHandlersCache" />
		</property>
		<!-- 消息处理器 -->
		<property name="handlers">
			<map>
				<!-- 默认处理器-->
				<entry key="default">
					<ref local="defaultMsgHandler"/>
				</entry>
				<!-- 关注事件处理 -->
				<entry key="subscribe">
					<bean class="com.examw.wechat.service.server.impl.SubscribeMessageHandler">
						<!-- 关注用户服务接口 -->
						<property name="accountUserService" ref="accountUserService" />
						<!-- 欢迎信息 -->
						<property name="welcome" value="${SubscribeMsgHandler_Welcome}" />
					</bean>
				</entry>
				<!-- 取消关注事件处理 -->
				<entry key="unsubscribe">
					<bean class="com.examw.wechat.service.server.impl.UnSubscribeMessageHandler">
						<!-- 关注用户服务接口 -->
						<property name="accountUserService" ref="accountUserService" />
						<!-- 取消关注欢迎信息 -->
						<property name="welcome" value="${UnSubscribeMsgHandler_Welcome}" />
					</bean>
				</entry>
				<!-- 菜单链接跳转事件 -->
				<!-- <entry key="VIEW"></entry> -->
				<!-- 菜单点击事件处理 -->
				<entry key="CLICK">
					<ref local="menuClickHandlerFactory"/>
				</entry>
				<!-- 文本输入消息处理 -->
				<entry key="text">
					<ref local="textMessageHandlerFactory"/>
				</entry>
			</map>
		</property>
	</bean>
	<!-- 消息事件处理缓存 -->
	<bean id="msgEventHandlerCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<!-- 缓存管理器 -->
		<property name="cacheManager"  ref="globalCacheManager" />
		<!-- 缓存名称 -->
		<property name="cacheName" value="msgEventHandlersCache" />
	</bean>
	<!--  菜单点击事件服务工厂 -->
	<bean id="menuClickHandlerFactory" class="com.examw.wechat.service.server.impl.MenuClickHandlerFactory">
		<!-- 处理器缓存 -->
		<property name="cache" ref="msgEventHandlerCache"/>
		<!-- 消息处理器 -->
		<property name="handlers">
				<!-- 默认处理器-->
				<entry key="default">
					<ref local="defaultMsgHandler"/>
				</entry>
				<!-- 认证处理 -->
				<entry key="authen">
					<ref local="authenHandler"/>
				</entry>
				<!-- 最新资讯 -->
				<entry key="article">
					<ref local="articleHandler" />
				</entry>
		</property>
	</bean>
	<!-- 文本消息处理服务工厂 -->
	<bean id="textMessageHandlerFactory" class="com.examw.wechat.service.server.impl.TextMessageHandlerFactory">
		<!-- 处理器缓存 -->
		<property name="cache" ref="msgEventHandlerCache"/>
		<!-- 消息处理器 -->
		<property name="handlers">
				<!-- 默认处理器-->
				<entry key="default">
					<ref local="defaultMsgHandler"/>
				</entry>
				<!-- 认证处理 -->
				<entry key="authen">
					<ref local="authenHandler"/>
				</entry>
		</property>
	</bean>
	<!-- 认证消息事件处理 -->
	<bean id="authenHandler" class="com.examw.wechat.service.server.impl.AuthenMessageHandler">
		<!-- 已认证用户提示信息 -->
		<property name="isAuthenMsg"  value="${AuthenMessageHandler_IsAuthenMsg}" />
		<!-- 未认证用户提示信息 -->
		<property name="msg" value="${AuthenMessageHandler_Msg}" />
		<!-- 未找到登记记录提示信息 -->
		<property name="noFindRegisterMsg" value="${AuthenMessageHandler_NoFindRegisterMsg}" />
		<!-- 认证成功提示信息 -->
		<property name="authenSuccessMsg" value="${AuthenMessageHandler_AuthenSuccessMsg}" />
	</bean>
	<!-- 图文消息处理 -->
	<bean id="articleHandler" class="com.examw.wechat.service.server.impl.ArticleMessageHandler">
		<!-- 是否用户认证 -->
		<property name="authen" value="${handler_IsAuthen}" />
		<!-- 用户认证菜单key -->
		<property name="authenMenuKey" value="${handler_AuthenMenuKey}" />
		<!-- 登记用户数据接口 -->
		<property name="registerDao" ref="registerDao" />
		<!-- 图文数据接口 -->
		<property name="articleDao" ref="articleDao" />
		<!-- 未找到图文数据提示 -->
		<property name="noArticleMsg" value="${ArticleMessageHandler_NoArticleMsg}" />
		<!-- 原文链接配置 -->
		<property name="baseUrl"  value="${ArticleMessageHandler_BaseUrl}" />
	</bean>
	<!--  公众号服务 服务接口实现 end-->
</beans>